In [43]:
import os
os.listdir()

['.ipynb_checkpoints',
 '2014_-_2015_School_Budget_Overview.csv',
 'Logistic.ipynb']

In [44]:
#importing data
import pandas as pd
import numpy as np
dataset=pd.read_csv('2014_-_2015_School_Budget_Overview.csv')
dataset.info()
dataset.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1577 entries, 0 to 1576
Data columns (total 21 columns):
Fiscal_Year                           1577 non-null int64
Location                              1577 non-null object
S1: Label a: FY14 Revised Base        1577 non-null float64
S1: Label b: FSF & TL 09 C4E CTT      1577 non-null float64
S1: Label c: FSF Over Formula         1577 non-null float64
S2: Label d: FSF Preliminary          1577 non-null float64
S2: Label a: FY14 Revised Base        1577 non-null float64
S2: Label f: Register Change          1577 non-null float64
S2: Label g: Teacher Salary Growth    1577 non-null float64
S2: Label h: New School Foundation    1577 non-null float64
S3: Label i: FY14 FSF at 100%         1577 non-null float64
S3: Foundation                        1577 non-null float64
S3: Label d - Foundation              1577 non-null float64
S3: Label i - Foundation              1577 non-null float64
S3: Label j: FSF Final%               1577 non-null float64
S4: Label d: FY14 FSF Initial         1577 non-null float64
S4: AC Name: FSF (HS)                 1577 non-null float64
S4: AC Name: TL09 C4E CTT (HS)        1577 non-null float64
S4: AC Name: Funds Over Formula       1577 non-null float64
S5: TL SE Transitional Funding        1577 non-null float64
As_Of_Date                            1577 non-null object
dtypes: float64(18), int64(1), object(2)
memory usage: 246.5+ KB

,Fiscal_Year,Location,S1: Label a: FY14 Revised Base,S1: Label b: FSF & TL 09 C4E CTT,S1: Label c: FSF Over Formula,S2: Label d: FSF Preliminary,S2: Label a: FY14 Revised Base,S2: Label f: Register Change,S2: Label g: Teacher Salary Growth,S2: Label h: New School Foundation,...,S3: Foundation,S3: Label d - Foundation,S3: Label i - Foundation,S3: Label j: FSF Final%,S4: Label d: FY14 FSF Initial,S4: AC Name: FSF (HS),S4: AC Name: TL09 C4E CTT (HS),S4: AC Name: Funds Over Formula,S5: TL SE Transitional Funding,As_Of_Date
0,2015,K001,5957603.0,5957603.0,0.0,5858476.18,5957603.0,-99126.82,0.0,0.0,...,225000.0,5633476.18,6856416.99,0.8216,5858476.0,5858476.0,0.0,0.0,0.0,05/29/2014
1,2015,K002,2565500.0,2565500.0,0.0,2514000.62,2565500.0,-51499.38,0.0,0.0,...,225000.0,2289000.62,2812276.59,0.8139,2514001.0,2514001.0,0.0,0.0,104611.0,05/29/2014
2,2015,K003,2364807.0,2364807.0,0.0,2176535.16,2364807.0,-188271.84,0.0,0.0,...,225000.0,1951535.16,2225195.30,0.8770,2176535.0,2104797.0,71738.0,0.0,37397.0,05/29/2014
3,2015,K005,1711158.0,1711158.0,0.0,1589001.81,1711158.0,-122156.19,0.0,0.0,...,225000.0,1364001.81,1482282.85,0.9202,1589002.0,1589002.0,0.0,0.0,18339.0,05/29/2014
4,2015,K006,3771012.0,3771012.0,0.0,3634372.42,3771012.0,-136639.58,0.0,0.0,...,225000.0,3409372.42,3899758.11,0.8743,3634373.0,3562635.0,71738.0,0.0,15830.0,05/29/2014

In [45]:
dataset.rename(columns={"S1: Label a: FY14 Revised Base":"Revised Base"})

,Fiscal_Year,Location,S1: Label a: FY14 Revised Base,S1: Label b: FSF & TL 09 C4E CTT,S1: Label c: FSF Over Formula,S2: Label d: FSF Preliminary,S2: Label a: FY14 Revised Base,S2: Label f: Register Change,S2: Label g: Teacher Salary Growth,S2: Label h: New School Foundation,...,S3: Foundation,S3: Label d - Foundation,S3: Label i - Foundation,S3: Label j: FSF Final%,S4: Label d: FY14 FSF Initial,S4: AC Name: FSF (HS),S4: AC Name: TL09 C4E CTT (HS),S4: AC Name: Funds Over Formula,S5: TL SE Transitional Funding,As_Of_Date
0,2015,K001,5957603.0,5957603.0,0.0,5858476.18,5957603.0,-99126.82,0.0,0.0,...,225000.0,5633476.18,6856416.99,0.8216,5858476.0,5858476.0,0.0,0.0,0.0,05/29/2014
1,2015,K002,2565500.0,2565500.0,0.0,2514000.62,2565500.0,-51499.38,0.0,0.0,...,225000.0,2289000.62,2812276.59,0.8139,2514001.0,2514001.0,0.0,0.0,104611.0,05/29/2014
2,2015,K003,2364807.0,2364807.0,0.0,2176535.16,2364807.0,-188271.84,0.0,0.0,...,225000.0,1951535.16,2225195.30,0.8770,2176535.0,2104797.0,71738.0,0.0,37397.0,05/29/2014
3,2015,K005,1711158.0,1711158.0,0.0,1589001.81,1711158.0,-122156.19,0.0,0.0,...,225000.0,1364001.81,1482282.85,0.9202,1589002.0,1589002.0,0.0,0.0,18339.0,05/29/2014
4,2015,K006,3771012.0,3771012.0,0.0,3634372.42,3771012.0,-136639.58,0.0,0.0,...,225000.0,3409372.42,3899758.11,0.8743,3634373.0,3562635.0,71738.0,0.0,15830.0,05/29/2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1572,2015,Q332,0.0,0.0,0.0,893761.51,0.0,668761.51,0.0,225000.0,...,225000.0,668761.51,668761.51,1.0000,893762.0,893762.0,0.0,0.0,0.0,05/29/2014
1573,2015,Q313,0.0,0.0,0.0,915539.12,0.0,690539.12,0.0,225000.0,...,225000.0,690539.12,690539.12,1.0000,915539.0,915539.0,0.0,0.0,0.0,05/29/2014
1574,2015,Q300,0.0,0.0,0.0,961975.69,0.0,736975.69,0.0,225000.0,...,225000.0,736975.69,736975.69,1.0000,961976.0,961976.0,0.0,0.0,0.0,05/29/2014
1575,2015,R010,0.0,0.0,0.0,562635.91,0.0,337635.91,0.0,225000.0,...,225000.0,337635.91,337635.91,1.0000,562636.0,476550.0,86086.0,0.0,0.0,05/29/2014
1576,2015,R028,0.0,0.0,0.0,706573.46,0.0,481573.46,0.0,225000.0,...,225000.0,481573.46,481573.46,1.0000,706573.0,706573.0,0.0,0.0,0.0,05/29/2014

In [46]:
x=dataset.iloc[:,[1,2]].values
x
y=dataset.iloc[:,[8]].values
y

array([[0.],
       [0.],
       [0.],
       ...,
       [0.],
       [0.],
       [0.]])

In [47]:
#preprocessing
from sklearn.preprocessing import FunctionTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import Imputer
from sklearn.pipeline import FeatureUnion
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=.2,random_state=0)


text_data=FunctionTransformer(lambda X:X_train['text_data'],validate=False)

numeric_data=FunctionTransformer(lambda X:y_train['numeric_data'],validate=False)

joinFeature=FeatureUnion(transformer_list=[
    ('numeric_features',Pipeline
     (
         [
             ('selector',numeric_data),
             ('imputer',Imputer())
         ]
     )
    )
    ,
    ('text_features',Pipeline
     (
         [
             ('selector',text_data),
             ('vectorizer',CountVectorizer())
         ]
     )
    )
    
]
                        )

c:\users\sachin\appdata\local\programs\python\python37-32\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [48]:
pl=Pipeline([('union',joinFeature),
             ('clf',LogisticRegression())])